if (!params.skip_fastqc) {
    process {
        withName: 'FASTQC' {
            ext.args   = '--quiet'
            publishDir = [
                path: {"${params.outdir}/fastqc/raw"},
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }

}