process {
    withName: 'JSON_TO_METADATA' {
        publishDir = [
            [
                path: { "${params.outdir}/public/run_info/${params.pipeline_version}-${params.wf_timestamp}/metadata/json" },
                mode: params.publish_dir_mode,
                pattern: "*.json"
            ],
            [
                path: { "${params.outdir}/public/run_info/${params.pipeline_version}-${params.wf_timestamp}/metadata/tsv" },
                mode: params.publish_dir_mode,
                pattern: "*.tsv"
            ]
        ]
    }
}
