process {
    withName: 'CUSTOM_SRATOOLSNCBISETTINGS' {
        publishDir = [
            path: { "${params.outdir}/public/run_info/${params.pipeline_version}-${params.wf_timestamp}/pipeline_info/custom_sratoolsncbisettings" },
            mode: params.publish_dir_mode,
            pattern: "*.mkfg",
            enabled: true
        ]
    }
}