process {
    withName: 'BASESPACE_CLI' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.pub_internal}/${meta.study_accession}/${meta.library_strategy}/fastq" },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.outdir}/${params.pub_internal}/${meta.study_accession}/${meta.library_strategy}/fastq/md5" },
                mode: params.publish_dir_mode,
                pattern: "*.md5"
            ],
            [
                path: { "${params.outdir}/${params.pub_internal}/${meta.study_accession}/${meta.library_strategy}/fastq" },
                mode: params.publish_dir_mode,
                pattern: "*.json"
            ]
        ]
    }
}
