process {
    withName: 'UPDATE_USER_JSON' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.pub_internal}/run_info/${params.pipeline_version}-${params.wf_timestamp}/metadata/samplesheet" },
                mode: params.publish_dir_mode,
                pattern: "samplesheet_update.json"
            ],
            [
                path: { "${params.outdir}/${params.pub_internal}/run_info/${params.pipeline_version}-${params.wf_timestamp}/metadata/json" },
                mode: params.publish_dir_mode,
                pattern: "metadata_update.json"
            ]
        ]
    }
}
