process {
    withName: 'CHECK_METADATA' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.pub_internal}/run_info/${params.pipeline_version}-${params.wf_timestamp}/metadata/validation" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
            [
                path: { "${params.outdir}/${params.pub_internal}/run_info/${params.pipeline_version}-${params.wf_timestamp}/metadata/json" },
                mode: params.publish_dir_mode,
                pattern: "*.json"
            ]
        ]
    }
    withName: 'CHECK_METADATA_INTERNAL*' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.pub_internal}/run_info/${params.pipeline_version}-${params.wf_timestamp}/metadata/validation" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
            [
                path: { "${params.outdir}/${params.pub_internal}/run_info/${params.pipeline_version}-${params.wf_timestamp}/metadata/json" },
                mode: params.publish_dir_mode,
                pattern: "*.json"
            ]
        ]
    }
}
